.header {
  width: 100%;
  margin: 28px 0 73px;
  box-sizing: border-box;
}

.header__container {
  max-width: 1790px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.header__logoImage {
  height: 40px;
  width: auto;
}

.header__navContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 76px;
  flex-wrap: wrap;
}

.header__navList {
  display: flex;
  gap: 46px;
  flex-wrap: wrap;
}

.header__navItem {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  transition: color 0.2s ease;
}

.header__navItem:hover .header__navText {
  color: #ef9d53;
}

.header__navNumber {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.header__navText {
  font-weight: 600;
}

.header__searchContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.header__searchInputWrapper {
  width: 0;
  overflow: hidden;
  transition:
      width 0.3s ease,
      opacity 0.3s ease,
      margin-right 0.3s ease;
}

.header__searchInputWrapper_open {
  width: 250px;
  overflow: visible;
  margin-right: 2rem;
}

.header__searchInput {
  width: 100%;
  border: 1px solid #c7c7c7;
  border-radius: 16px;
  padding: 18px;
  font-size: 16px;
  font-weight: 500;
  background: none;
  outline: none;
}

.header__searchInput:focus {
  border-color: #ef9d53;
}

.header__searchBtn {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.header__searchBtn:hover {
  transform: scale(1.1);
}

.header__searchIcon {
  display: block;
  width: 24px;
  height: 24px;
}

@media (max-width: 1600px) {
  .header__container {
    padding: 0 32px;
  }

  .header__navContainer {
    gap: 50px;
  }

  .header__navList {
    gap: 32px;
  }
}

@media (max-width: 1024px) {
  .header {
    margin: 20px 0 50px;
  }

  .header__container {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
  }

  .header__navContainer {
    justify-content: center;
    flex-direction: column;
    gap: 24px;
  }

  .header__navList {
    justify-content: center;
  }

  .header__logoImage {
    height: 36px;
  }
}

@media (max-width: 600px) {
  .header {
    margin: 16px 0 36px;
  }

  .header__container {
    padding: 0 16px;
  }

  .header__navContainer {
    gap: 16px;
  }

  .header__navList {
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .header__navItem {
    font-size: 12px;
  }

  .header__searchIcon {
    width: 20px;
    height: 20px;
  }

  .header__logoImage {
    height: 30px;
  }
}
@media (max-width: 375px) {
  .header__navList {
    gap: 12px;
  }

  .header__navItem {
    font-size: 11px;
  }
}
