.careers__container {
  width: 100%;
  max-width: 1970px;
  margin: 0 auto;
  box-sizing: border-box;
}

.careers__title {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0;
}

.careers__content {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
}

.careers__sidebar {
  width: 100%;
  max-width: 27rem;
  flex-shrink: 0;
}

.careers__info {
  flex: 1;
  max-width: 65rem;
}

.careere__text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 3rem;
}

.careers__cards {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

@media (min-width: 1920px) {
  .careers__container {
    padding: 0 5rem;
  }

  .careers__content {
    gap: 20rem;
  }
}


@media (max-width: 768px) {
  .careers__container {
    padding: 0 1.25rem;
  }

  .careers__title {
    font-size: 1.75rem;
  }

  .careers__content {
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 1.8rem;
  }

  .careers__info {
    order: 1;
    max-width: 100%;
  }

  .careers__sidebar {
    order: 2;
    max-width: 100%;
  }

  .careere__text {
    font-size: 1.5rem;
    margin-bottom: 1.8rem;
  }

  .careers__cards {
    gap: 1rem;
  }
}

@media (max-width: 375px) {
  .careers__container {
    padding: 0 1rem;
  }

  .careers__title {
    font-size: 1.5rem;
  }

  .careers__content {
    gap: 1.875rem;
    margin-top: 1.25rem;
  }

  .careere__text {
    font-size: 1.1rem;
    margin-bottom: 1.25rem;
  }

  .careers__cards {
    gap: 0.75rem;
  }
}

.emptyState {
  margin: 1.25rem auto;
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
  max-width: 25rem;
}

.emptyState button {
  width: 100%;
}
