@font-face {
  font-family: 'Suisse Intl';
  src: url('/public/assets/fonts/suisse-intl-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Suisse Intl', sans-serif;
  color: #000;
  line-height: 1.4;
  font-weight: 600;
}

body {
  background-color: #F0F0F0;
  height: 100vh;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  flex: 1; 
}
.container{
  width: 1780px;
  margin: 0 auto;
}

button{
  font-family: 'Suisse Intl', sans-serif; 
  border: none;
  background-color: #EF9D53;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  border-radius: 16px;
  padding: 18px 17px;
  cursor: pointer;
}
.button:hover {
    background: #E08A3A;
}
select, 
input, 
textarea {
    background: none;
    border: 1px solid #C7C7C7;
    border-radius: 16px;
    padding: 18px;
    color: rgb(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 600;

}
a{
  text-decoration: none;
  color: #000;
}

.no-scroll {
  overflow: hidden;
}
